*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.settings/
.project
.classpath
target/
ssm.iml
.idea/

# 
src/main/resources/jdbc.properties
src/main/resources/redis.properties
src/main/resources/mail.properties


src/test/resources/jdbc.properties
src/test/resources/redis.properties
src/test/resources/mail.properties
#
*.log
