
############ jdbc ############
jdbc.driverClass=com.mysql.jdbc.Driver

# useUnicode=true&characterEncoding=utf8:指定字符的编码、解码格式
jdbc.url=jdbc:mysql://192.168.0.106:3306/ssm?useUnicode=true&characterEncoding=utf8
jdbc.username=foo
jdbc.password=foo

############ mail ############
mail.host=smtp.163.com
mail.port=25
mail.username=username@163.com
mail.password=password
mail.smtp.ssl.enable=true

############ redis ############
redis.host=127.0.0.1
redis.port=6379
redis.password=pwssword
redis.timeout=2000
#最大能够保持空闲状态的链接数
redis.pool.maxIdle=6
#当池内没有返回链接时，最大等待时间
redis.pool.maxWait=50
#当调用borrow Object方法时，是否进行有效性检查
redis.pool.testOnBorrow=true

############ kafka ############
kafka.server=192.168.0.103:9092
kafka.topic=myTopic