<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xis="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
	xis:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 使用组件扫描的方式可以一次扫描多个Controller -->
    <context:component-scan base-package="com.snsprj.controller"/>
    
	<!-- 让DispatchServlet启动基于annotation的HandlerMapping -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<!-- 解决Controller返回json中文乱码问题 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
				    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.freemarker.FreeMarkerView</value>
        </property>
        <property name="cache"><value>true</value></property>
        <!--这里需要注意一下，我注释了下面这样一行代码，这行代码的意思就是指引freemarker需要解析的文件的位置。
        注释掉原因是因为
         applicationContext.xml里有这样一行代码：
         <property name="templateLoaderPath" value="/WEB-INF/views/" /> 已经指定了视图位置。
         如果我们这里依然保留下方代码，页面回报406的找不到的错误 -->
        <!-- <property name="prefix"><value>/WEB-INF/views/</value></property> -->
        <property name="suffix"><value>.html</value></property>
        <property name="contentType">
            <value>text/html; charset=UTF-8</value>
        </property>
    </bean>

	<!-- 静态资源 -->
	<mvc:default-servlet-handler/>
	<mvc:resources mapping="/resources/csv/**" location="/resources/csv/" />

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving
		up static resources in the ${webappRoot}/resources directory -->
	<!--<mvc:resources mapping="/resources/**" location="/resources/"/>-->

</beans>