<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xis="http://www.w3.org/2001/XMLSchema-instance"
	xis:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- 配置kaptcha验证码 -->
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
		<property name="config">
			<bean class="com.google.code.kaptcha.util.Config">
				<constructor-arg type="java.util.Properties">
					<props>
						<!-- 是否有边框 默认为true -->
						<prop key="kaptcha.border">no</prop>
						<prop key="kaptcha.image.width">100</prop>
						<prop key="kaptcha.image.height">50</prop>
						<prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.DefaultNoise</prop>
						<prop key="kaptcha.textproducer.char.string">2346789abcdefghjkmnpqrtuvwxyz</prop>
						<prop key="kaptcha.textproducer.char.length">4</prop>
						<!-- 验证码文本字符颜色 -->
						<prop key="kaptcha.textproducer.font.color">blue</prop>
						<!-- 干扰颜色 -->
						<prop key="kaptcha.noise.color">blue</prop>
						<!-- 图片样式 -->
						<prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.WaterRipple</prop>
					</props>
				</constructor-arg>
			</bean>
		</property>
	</bean>


	<!--注册方法验证的后处理器 -->
	<bean
		class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor" />

	<bean id="exceptionHandler" class="com.snsprj.common.exception.DefaultExceptionHandler" />

	<bean id="testFilter" class="com.snsprj.filter.MyFilter" />

	<!-- 配置代码读取properties文件 -->
	<bean id="propertyConfigurer" class="com.snsprj.properties.PropertyPlaceholder">
		<property name="location">
			<value>classpath:mail.properties</value>
		</property>
	</bean>


</beans>
