<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 静态资源开放访问 -->
    <security:http pattern="/resources/**" security="none"/>


    <!--
    [use-expressions]Enables EL-expressions in the access attribute, use expressions to secure individual URLs. The default value is true.
    -->
    <security:http auto-config="false" entry-point-ref="commonAuthenticationEntryPoint">

        <!-- <intercept-url pattern="/**" requires-channel="https" /> -->
        <security:intercept-url pattern="/**" />

        <security:csrf disabled="true" />
        <security:headers disabled="true"/>
        <security:logout invalidate-session="true" logout-url="/logout" logout-success-url="/index"/>

        <!-- APP check sign -->
        <!--<security:custom-filter ref="mySignCheckerFilter" before="FIRST" />-->

        <!--<security:custom-filter ref="commonResponseContentType" after="FIRST" />-->

        <security:custom-filter ref="authenticationFilter" position="FORM_LOGIN_FILTER" />
        <security:custom-filter ref="rememberMeProcessingFilter"  position="REMEMBER_ME_FILTER" />
    </security:http>

    <!-- To add some users -->
    <!-- for registering the AuthenticationManager which provides authentication services to the application. -->
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="userDetailService">
            <security:password-encoder ref="bcryptEncoder"/>
        </security:authentication-provider>

        <security:authentication-provider ref="rememberMeAuthenticationProvider"/>
    </security:authentication-manager>


    <!-- 401 Unauthorized -->
    <bean id="commonAuthenticationEntryPoint" class="com.snsprj.security.User.CommonAuthenticationEntryPoint" />

    <!--  -->
    <bean id="loginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg name="loginFormUrl" value="/index"/>
    </bean>

    <bean id="commonResponseContentType" class="com.snsprj.security.User.CommonResponseContentTypeFilter"/>


    <bean id="authenticationFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationFailureHandler" ref="myFailureHandler"/>
        <property name="authenticationSuccessHandler" ref="mySuccessHandler"/>
        <property name="rememberMeServices" ref="rememberMeServices"/>
    </bean>

    <bean id="mySuccessHandler" class="com.snsprj.security.User.CommonSuccessHandler" />
    <bean id="myFailureHandler" class="com.snsprj.security.User.CommonFailureHandler" />

    <bean id="rememberMeProcessingFilter" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
        <constructor-arg ref="authenticationManager" />
        <constructor-arg ref="rememberMeServices" />
    </bean>

    <bean id="userDetailService" class="com.snsprj.security.User.UserService"/>

    <bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

    <bean id="rememberMeAuthenticationProvider" class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
        <constructor-arg value="0o7Byv10Bbw1tr4kh"/>
    </bean>

    <bean id="rememberMeServices" class="com.snsprj.security.User.CustomRememberMeService">
        <constructor-arg value="0o7Byv10Bbw1tr4kh" />
        <constructor-arg ref="userDetailService" />
        <constructor-arg ref="tokenRepository" />
    </bean>

    <bean id="tokenRepository" class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 是否在系统启动时创建持久化token的数据库表 -->
        <property name="createTableOnStartup" value="false" />
    </bean>

</beans>