<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bootstrap</title>
    <!-- <script src="../../../resources/js/jquery-3.2.1.min.js"></script> -->
    <!-- <link rel="stylesheet" href="../../../resources/bootstrap-3.3.7-dist/css/bootstrap.css"> -->
    <script src="/ssm/resources/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/ssm/resources/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>
<button class="btn btn-info"> 按钮</button>
<img alt="123" src="/ssm/resources/images/error/error_404.jpg">
</body>
</html>