<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snsprj.dao.manual.CategoryManualMapper">

  <resultMap id="BaseResultMap" type="com.snsprj.dto.Category">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_name, parent_id, status, created_at, updated_at
  </sql>

  <select id="selectByParentId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    categories
    WHERE
    parent_id = #{parentId,jdbcType=INTEGER} and status = #{status,jdbcType=TINYINT}
  </select>
</mapper>