<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snsprj.dao.manual.ProductManualMapper">
  <resultMap id="BaseResultMap" type="com.snsprj.dto.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="main_image" jdbcType="VARCHAR" property="mainImage" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_top" jdbcType="TINYINT" property="isTop" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, product_name, subtitle, main_image, price, stock, status, is_top,
    created_at, updated_at
  </sql>

  <!-- 根据categoryId查询商品 -->
  <select id="selectByCategoryId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from products
    where category_id = #{categoryId} and status = #{status}
    ORDER BY is_top desc , updated_at desc
  </select>
  
  <select id="selectByUpdatedAt" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from products
    <where>
        <if test="vane gt 0">
            updated_at &gt; #{date} AND status = #{status}
            ORDER BY is_top desc , updated_at desc
        </if>
        <if test="vane == 0">
            updated_at = #{date} AND status != #{status}
            ORDER BY is_top desc , updated_at desc
        </if>
        <if test="vane lt 0">
            updated_at &lt; #{date} AND status = #{status}
            ORDER BY is_top desc , updated_at desc
        </if>

    </where>
  </select>


</mapper>